@charset "utf-8";
/*-----------------프로필 편집----------*/
#set {
    border-radius: 45px;
    background: white;
    margin: 1% auto;
    display: flex;
    justify-content: space-between;
    box-shadow: 5px 5px 25px #c9bcd0;
}

#setLeft {
    padding: 30px;
    width: 32%;
    border-right : 1px solid #e9e7fb;
}
#setLeft li{
    width: 100%;
    height: 60px;
    border-bottom : 1px solid #e9e7fb;
    line-height: 60px;
    padding-left: 30px;
}
#setLeft li:hover {
    background: #f6f9fe;
}
#setLeft li a {
    width: 100%;
    display: inline-block;
}
#setLeft li i {
    font-size: 1.4em;
    vertical-align: -5px;
    margin-right: 15px;
    color: #a1c4fd;
}

#setRight {
    padding : 20px 50px;
    width: 68%;
    margin-bottom: 40px;
}
#setRight #setProfile {
    padding: 20px;
    display: flex;
    border-bottom: 1px solid #e9e7fb; 
    margin-bottom: 40px;
}

#cir {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#modiPic {
    font-size: 1.5em;
    color: #a1c4fd;
    position: relative;
    top: -30px;
    right: -103px;
    cursor: pointer;
}

#setInfo {
    margin-left: 30px;
}
#setInfo h3 {
    color: #a1c4fd;
    font-size: 1.4em;
    margin-top: 40px;
    margin-bottom: 2px;
}

.item {
    margin-bottom: 25px;
}
.item label {
    font-weight: 800;
    font-size: 1.05em;
    text-align: right;
    padding-left: 10px;
}
.item textarea {
    width: 80%;
    resize: none;
    height: 150px;
    border: 1px solid #e9e7fb; 
    padding: 15px;
    font-size: 0.95em;
    font-family: 'Nanum Gothic', sans-serif;
    line-height: 1.5em;
    border-radius: 5px;
    margin-top: 10px;
}
.item textarea:focus {
    outline: none;
}
.item select, .item input {
    display: block;
    width: 50%;
    height: 40px;
    margin-top: -9px;
    border: 1px solid #e9e7fb;
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
}
.item select:focus,
.item input:focus {
    outline: none;
}

#modiBtn {
    border: none;
    background: #a1c4fd;
    color: white;
    width: 150px;
    height: 50px;
    border-radius: 10px;
    font-size: 1.2em;
    font-weight: 600;
    margin-top: 20px;
}

/*--------------------changing password------------------*/
#passwordBox {
    padding: 80px;
}

#setRight p {
    font-weight: 700; 
    margin-top: 40px;
    text-align: center;
}
#setRight form {
    margin-top: 2.5em;
}
#setRight .loginBox {
    width: 80%;
    margin: auto;
    height: 62px;
    border-radius: 30px;
    box-shadow: 2px 3px 12px #e2e2e2;
    margin-bottom: 12px;
    line-height: 62px;
    text-align: left;
    padding-left: 2em;
}
#setRight .loginBox .fas {
    color: #898989;
    font-size: 1.4em;
    pointer-events: none;
    vertical-align: -3px;
}
#setRight .loginBox input {
    border: none;
    font-weight: 500;
    font-size: 15px;
    display: inline-block;
    height: 80%;
    margin-left: 13px;
    width: 80%;
    padding-left: 10px;
}
#setRight .loginBox input {
    cursor: pointer;
    z-index: 100;
    position: relative;
    margin: auto;
}
#setRight .loginBox span {
    float: left;
    font-size: 0.9em;
}
#setRight #changeBtn {
    display: block;
    padding: 20px;
    margin: auto;
}
.purBtn {
    background: #a0a0cf;
    border-radius: 30px;
    border: none;
    box-shadow: 0px 3px 5px #c9bcd0;
    width: 80%;
    font-family: 'Gmarket Sans', 'Nanum Gothic', sans-serif;
    font-size: 1em;
    font-weight: 600;
    color: white;
}

#change {
    border-top: 1px solid #e9e7fb;
    padding-top: 40px;
}
#change{
    display: none;
}

/*-----------------여기부터 태블릿pc---------------------*/
@media all and (max-width: 1020px) {
    
}

/*-----------------여기부터 모바일버전-------------------*/
@media all and (max-width:767px) {
    
}