@charset "utf-8";
#feedWrap {
    background: white;
}

#storyBox {
	width : 100%;
    height: 61px;
    border: 1px solid #e9e7fb;
    padding: 8px;
}
#storyBox .story {
    width: 45px;
    height: 45px;
    display: inline-block;
    border: 1px solid #dfdfdf;
    border-radius: 50%;
    cursor: pointer;
    vertical-align: top;
    margin-right: 5px;
}
#storyBox .story:last-of-type {
    margin-right: 0;
}
#storyBox .storyOn {
    border: 3px solid #a1c4fd;    
}
#storyBox .story img {
    width: 100%;
}

#feedBox {
    margin-top: 20px;
}

.feed {
    border: 1px solid #dfdfdf;
    margin-bottom: 50px;
}

.proBox {
    height: 61px;
    padding: 8px;
}
.proBox .proCir {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
}
.proBox .proCir img {
    width: 100%;
}
.proBox .proName {
    display: inline-block;
    font-weight: bold;
    vertical-align: 17px;
    padding-left: 5px;
    cursor: pointer;
}
.proBox .proName .proClass {
    font-weight: 200;
    color: #929292;
    font-size: 0.95em;
    padding-left: 3px;
}

.feedPic {
    width: 100%;
    position: relative;
}
.feedPic .slider .slide {
    width: 100%;
    height: 100%;
    display: flex;
}
.feedPic .slide img {
    min-width: 100%;
    height: auto;
}
.feedPic .txtCont {
    padding: 10px 10px;
    line-height: 1.45em;
}

.slideBtn {
    border: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    font-size: 2em;
    color: white;
    opacity: 0.7;
}
.left {
    left: 10px;
    z-index: 100;
}
.right {
    right: 10px;
}
.slideBtn:hover {
    opacity: 1;
}

.slick-dots {
    position: absolute;
    bottom: -30px;
    left: 50%;
    transform: translateX(-50%);
    color: #aaa5d3;
}
.slick-dots li {
    display: inline-block;
    margin-right: 5px;
    font-size: 0.7em;
}
.slick-dots li:last-of-type {
    margin-right: 0;
}

.icon {
    width: 100%;
    padding: 12px 10px 5px 10px;
}
.icon .report {
    float: right;
    margin-right: 0;
    color: #bfbfbf;
}
.icon button {
    border: none;
    background: none;
    font-size: 1.3em;
    margin-right: 5px;
    color: #3d3d3d;
}

.likeCount {
    margin: 0 10px 10px 10px;
    color: #b7b7b7;
    font-weight: bold;
    font-family: 'Nanum Gothic', sans-serif;
}

.txt {
    padding: 0 10px;
    margin-bottom: 10px;
}
.txt .proName {
    font-weight: bold;
}

.txt .txtCont {
    line-height: 1.4em;
    font: 400 1rem/1.5rem 'Nanum Gothic';
}
.txt .more {
    text-decoration: underline;
    color: #b7b7b7;
    font-size: 0.95em;
}

.countComm {
    font-weight: bold;
    font-family: 'Nanum Gothic', sans-serif;
    color: #b7b7b7;
    cursor: pointer;
    display: inline-block;
    padding: 0 10px;
}

.commentBox {
    margin-top: 10px;
    padding: 0 10px;
    margin-bottom: 10px;
}    
.commentBox .comm {
    margin-bottom: 5px;
}
.commentBox .commUser {
    font-weight: 800;
    font-family: 'Nanum Gothic', sans-serif;
    margin-right: 5px;
}

/*-----------------feed 검색 modal-----------------------------*/
#mask {
    position:fixed;
    right: 0;
    bottom: 0;
    left:0;
    top:0;
    z-index: 100;  
    background-color: transparent;
}
#feedSearch {
    display: none;
}
#feedSearchModal {
    display: none;
    width: 400px;
    height: 335px;
    background: white;
    position: absolute;
    border-radius: 10px;
    box-shadow: 1px 4px 10px rgba(39, 39, 39, 0.4);
    z-index: 100;
    top: 66px;
    left: 50%;
    transform: translateX(-50%);
    overflow: auto;
    padding: 12px 15px 12px 12px;
}
#feedSearchModal::-webkit-scrollbar {
    width: 6px;
}
#feedSearchModal::-webkit-scrollbar-track {
    background-color: transparent;
    padding: 10px;
}
#feedSearchModal::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background-color: #b0cff5; 
}
#feedSearchModal::-webkit-scrollbar-button {
    width: 0;
    height: 0;
}

.edge {
    width: 18px;
    height: 18px;
    background: white;
    position: absolute;
    border-radius: 2px;
    box-shadow: 1px 2px 5px #b2b2b2;
    transform: rotate(45deg)!important;
    z-index: 0;
    top: 58px;
    left: 50%;
    transform: translateX(-50%);
}

.feedCir {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    background: white;
    display: inline-block;
    border: 1px solid #dfdfdf;
    margin-right: 8px;
}
.feedCir img {
    width: 100%;
}

#feedCount .feedCir {
    line-height: 55px;
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 10px;
}
#feedCount #feedText {
    display: inline-block;
    vertical-align: middle;
}
#feedCount #keyword {
    font-weight: 800;
    font-family: 'Nanum Gothic', sans-serif;
    margin-bottom: 3px;
}
#feedCount #count {
    font-size: 0.93em;
    color: #a0a0a0;
}

#searchUser li {
    margin-bottom: 10px;
    display: flex;
    z-index: 300;
}
#searchUser li:last-of-type {
    margin-bottom: 0;
}
#searchUser .searchUserBox {
    margin-top: 10px;
}
#searchUser .userNick {
    display: block;
    font-weight: 800;
}
#searchUser .userEmail {
    font-size: 0.9em;
    color: #a0a0a0;
}

/*----------------------피드 신고 모달----------------------*/
#reportBack {
    position:fixed;
    right: 0;
    bottom: 0;
    left:0;
    top:0;
    z-index: 800;  
    background-color: #000;
    opacity: 0.2;
    display: none;
}

#reportWrap {
    display: none;
    z-index: 900;
}

#reportModal {
    display: none;
    width: 400px;
    height: 300px;
    background: white;
    position: fixed;
    border-radius: 10px;
    box-shadow: 1px 4px 10px rgba(39, 39, 39, 0.4);
    z-index: 100;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
}

#reporUserBox {
    display: inline-block;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 60px;
}

#reportCir {
    width : 70px;
    height: 70px;
    display: inline-block;
    border-radius: 50%;
    box-shadow: 2px 2px 5px #b3c0d4;
    float: left;
    margin-right: 13px;
}
#reportCir img {
    width: 100%;
}

#reportInfo{
    float: left;
    margin-top: 15px;
}
#reportInfo p {
    font-size: 1.1em;
    margin-bottom: 2px;
}
#reportInfo span {
    color: #b7b7b7;
    font-size: 0.95em;
}

#reportTxt {
    font-size: 0.95em;
    margin-top: 40px;
    text-align: center;
}

#reportBtn {
    height: 70px;
    background: #ebeeff;
    margin-top: 40px;
    padding: 10px 0;
}
#reportBtn button {
    background-color: transparent;
    border: none;
    height: 100%;
    font-size: 1.05em;
    color: #676767;
    text-align: center;
    width: calc(97% / 3);
    border-left: 1px solid rgba(150, 150, 150, 0.4);
    font-weight: bold;
}
#reportBtn button:first-of-type {
    border: none;
}

/*-----------------여기부터 태블릿pc---------------------*/
@media all and (max-width: 1020px) {
    #storyBox {
        margin-top: 28px;
    }
    
    .edge {
        top: 98px;
        left: 75%;
    }
    
    #feedSearchModal {
        top: 105px;
    }
}

/*-----------------여기부터 모바일버전-------------------*/
@media all and (max-width:767px) {
    #feedWrap {
        position: relative;
        top: 105px;
    }
    
    footer {
        margin-top: 73px;
    }
    
    .edge {
        display: none;
    }
    #feedSearchModal {
        top: 134px;
        width: 100%;
        overflow: auto;
        border-radius: 20px;
    }
}