@charset "utf-8";
#news {
    background: white;
    width: 100%;
    max-height: 630px;
    overflow: auto;
}

.thums {
    display: inline-block;
    width: calc((99% - 15px) / 2);
    margin-right: 15px;
    border: 1px solid #e9e7fb;
    margin-bottom: 20px;
}
.thums:nth-of-type(2n) {
    margin-right: 0;
}
.thums .newsCont {
    width: 100%;
    border-bottom : 1px solid #e9e7fb;
}
.thums .newsPic {
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.thums .newsCont p {
    padding: 20px;
    font-size: 1.05em;
    line-height: 1.5em;
}
.thums .newsTitle {
    height: 100px;
    padding: 20px;
}
.thums .newsTitle h3 {
    font-size: 1em;
    font-family: 'Nanum Gothic', sans-serif;
    font-weight: 800;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.thums .newsTitle p {
    position: relative;
    bottom: -25px;
}

/*-------------newsDetail--------------*/
#newsDetail {
    overflow-x: hidden;
    padding: 10
}

#titleBox {
    border-bottom : 1px solid #e9e7fb;
    margin-bottom: 40px;
}
#titleBox h3 {
    font-size: 1.3em;
    width: 70%;
    margin: auto;
    text-align: center;
    line-height: 1.5em;
}
#titleBox p {
    font-weight: 700;
    font-size: 0.9em;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

#newsDetail p {
    line-height: 1.5em;
    padding-bottom: 30px;
}
#newsDetail p img {
    width: 100%;
}
/*-----------------여기부터 태블릿pc---------------------*/
@media all and (max-width: 1020px) {
    #news {
        margin-top: 30px;
    }
}

/*-----------------여기부터 모바일버전-------------------*/
@media all and (max-width:767px) {
    #news {
        margin-top: 134px;
        background: white;
        /* padding-top: 30px; */
        max-height: 100%;
        padding: 30px 10px 10px 10px;
    }
}