body{
	text-align : center;
}
div.test{
 	height : 500px;
 	width : calc(100%);
 	text-align : center;
 }
 #testframe{
 	width : auto;
 	height : 100%;
 	border-color : black;
 }
.logo{
	height : 300px;
	text-align : center;
	font-size : 5.0em;
	margin-top : 50px;
}
@media (min-width: 700px){
	.logo{
	font-size : 8.0em;
	}
}