@charset "utf-8";
/*컨텐츠 페이지 공통속성*/
body {
    background-image: linear-gradient(80deg, #f3e7e9 0%, #e3eeff 99%, #e3eeff 100%);
}

#wrap {
    border-radius: 45px;
    background: rgba(255, 255, 255, 0.4);
    margin: 5% auto 1% auto;
    padding: 18px;
    display: flex;
    justify-content: space-between;
    box-shadow: 5px 5px 25px #c9bcd0;
}

#lnb {
    width: 15%;
    margin-right: 13px;
}
#lnb ul {
    position: relative;
    top: 120px;
}
.main {
    display: inline-block;
    width: 100%;
    border-radius: 10px;
    height: 45px;
    line-height: 45px;
    margin-bottom: 10px;
    font-size: 1.05em;
    padding: 0 15px;
}
#lnb li:hover,
#mnav li:hover{
    background: #a1c4fd;
    color: white;
}
#lnb li:hover a,
#mnav li:hover a {
    color: white;
}
#lnb li.active {
    background: #bed1f0;
}
#lnb li.active a {
    color: white;
}
.main a {
    display: inline-block;
    width: 100%;
}
.main a i {
    font-size: 1.5em;
    vertical-align: middle;
    display: inline-block;
    width: 30px;
    margin-right: 13px;
}

#contents {
    background: white;
    border-radius: 35px;
    margin-right: 13px;
    width: 58%;
    padding: 22px;
}
#contents header {
    height: 100px;
    display: flex;
}
#contents header>a {
    display: inline-block;
    width: 130px;
}
#contents header img {
    width: 100%;
}

#contents #search {
    flex: auto;
    margin-top: 2px;
}
#contents #search form {
    border: 1px solid #e9e7fb;
    border-radius: 3px;
    height: 25px;
    width: 150px;
    padding: 0 10px;
    margin: auto;
}
#contents #search input {
    width: 100px;
    border: none;
    height: 100%;
}
#contents #search button {
    width: 20px;
    border: none;
    background: none;
    padding-top: 3px;
    text-align: center;
    float: right;
}
#contents #search i {
    font-size: 1.2em;
    color : #a1c4fd;
}

#contents #gnb {
    float: right;
    margin-top: 3px;
}
#contents #gnb li {
    float: left;
    margin-right: 10px;
}
#contents #gnb li:last-of-type {
    margin-right: 0;
}
#contents #gnb li a {
    color : #a1c4fd;
    display: inline-block;
    font-size: 1.3em;
}

#profile {
    background: white;
    border-radius: 35px;
    width: 26%;
    height: 100%;
    padding: 22px;
} 
#profile #infoBox {
    display: flex;
}
#profile #userPic {
    width: 58px;
    height: 58px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 10px;
    box-shadow: 2px 3px 3px #dae7fc;
}
#profile #userPic img {
    width: 100%;
}

#profile #userBox {
    width: calc(100% - 68px);
    margin-top: 10px;
}
#profile #userName {
    color: #a1c4fd;
    font-size: 1.25em;
    font-weight: 600;
}
#profile #userMail {
    font-size: 0.75em;
    font-weight: 500;
    color: #929292;
}

#profile #followBox {
    margin-top: 25px;
    border-bottom: 1px solid #e9e7fb;
    padding-bottom: 28px;
    margin-bottom: 30px;
}
#profile li {
    display: inline-block;
    width: calc(95% / 3);
    text-align: center;
    font-weight: bold;
    font-family: 'Nanum Gothic', sans-serif;
}
#profile li .th {
    margin-bottom: 10px;
    display: inline-block;
}
#profile li a {
    font-weight: 800;
}

#profile #myInfo #className {
    font-size: 0.95em;
    font-weight: 800;
    font-family: 'Nanum Gothic', sans-serif;
}
#profile #myInfo #self {
    font-size: 0.92em;
    line-height: 1.6em;
    margin : 10px 0 30px 0;
}

#myGroup .group {
    width: 100%;
    height: 75px;
    background : white;
    box-shadow: 1px 1px 5px #dae7fc;
    border-radius: 10px;
    padding: 8px 12px;
    margin-bottom: 12px;
}
#myGroup .group a {
    display: inline-block;
    width: 100%;
    display: flex;
}
#myGroup .groupCir {
    width: 58px;
    height: 58px;
    border-radius: 50%;
    box-shadow: 2px 3px 3px #dae7fc;
    display: inline-block;
}
#myGroup .groupCir img {
    width: 100%;
}
#myGroup .groupInfo {
    width: calc(100% - 58px);
    text-align: left;
    padding-left: 12px;
    padding-top: 12px;
}
#myGroup .groupInfo .groupName {
    font-size: 0.95em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
#myGroup .groupInfo .mem {
    font-size: 0.8em;
    font-weight: 300;
}

#logout {
    margin-top: 70px;
    color : #a1c4fd;
    border: none;
    background: none;
    font-size: 1.5em;
    float: right;
}

footer {
    text-align: center;
    margin-bottom: 5%;
}
footer #copy {
    color : #b7b7b7;
    font-family: 'Nanum Gothic', sans-serif;
}
#top {
    position: fixed;
    right: 2%;
    bottom: 3%;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    line-height: 55px;
    background : white;
    box-shadow: 1px 1px 5px #7088ad;
}
#top i  {
    font-size: 1.5em;
    color : #a1c4fd;
}
/*컨텐츠 공통영역 끝*/

/*테블릿, 모바일 용 스타일*/
#mo {
    display: none;
}

#mflexBox {
    display: none;
}

#mheader, #mnav {
    display: none;
}

#ham ,#mham {
    width: 30px;
    height: 30px;
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
    float: left;
    position: absolute;
    z-index: 500;
    display: none;
}

#mham {
    position: fixed;
    top: 8%;
    left: 18px;
}

.patty {
    width: 20px;
    height: 4px;
    background-color: #a1c4fd;
    border-radius: 3px;
    margin: 3px auto;
    transition: all 0.5s;
}

.ex .p1 {
    transform: translateY(7px) rotate(45deg);
}
.ex .p2 {opacity: 0;}
.ex .p3 {
    transform: translateY(-7px) rotate(-45deg);
}

#back {
    position: absolute;
    background-color: rgba(0,0,0,0.5);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
}

#mnav {
    top: 0;
    bottom: 0;
    left: 0;
    width: 70%;
    background-color: #f5f9ff;
    margin-left: -120%;
    transition: margin-left 0.5s;
    z-index: 501;
    position: absolute;
    z-index: 100;
    padding: 20% 12%;
}
#mnav .main a {
    color: #a1c4fd;
}

#contents #mgnb {
    float: right;
    margin-top: 3px;
}
#contents #mgnb li {
    float: left;
    margin-right: 10px;
}
#contents #mgnb li:nth-of-type(4){
    margin-right: 0;
}
#contents #mgnb li:last-of-type {
    margin-right: 0;
    padding: 2px;
    margin-top: -5px
}
#contents #mgnb li a {
    color : #a1c4fd;
    display: inline-block;
    font-size: 1.3em;
}
#contents #mgnb #cir {
    box-shadow: 3px 3px 3px #dae7fc;
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
#contents #mgnb #cir img {
    width: 100%;
}

#contents #msearch {
    flex: auto;
    margin-top: 2px;
}
#contents #msearch form {
    border: 1px solid #e9e7fb;
    border-radius: 3px;
    height: 25px;
    width: 150px;
    padding: 0 10px;
    margin: auto;
}
#contents #msearch input {
    width: 100px;
    border: none;
    height: 100%;
}
#contents #msearch button {
    width: 20px;
    border: none;
    background: none;
    padding-top: 3px;
    text-align: center;
    float: right;
}
#contents #msearch i {
    font-size: 1.2em;
    color : #a1c4fd;
}
/*테블릿, 모바일 용 스타일 끝*/


#feed {
    background: white;
    width: 100%;
    height: 6000px;
}

/*여기부터 태블릿pc*/
@media all and (max-width: 1020px) {
    /*컨텐츠 공통영역 시작*/
    .cen {
        width: 90%!important;
    }
    
    #contents {
        overflow: hidden;
        position: relative;
        width: 65%;
    }
    #contents header {
        display: none;
    }
    
    #mo {
        display: block;
    }
    
    #mheader {
        display: block;
        overflow: hidden;
    }
    
    #mnav, #ham {
        display: block;
    }
    
    #mheaderTop {
        display: flex;
    }
    #mheaderTop #flexBox {
        flex: auto;
        text-align: center;
        padding-left: 20px;
    }
    #mheaderTop #flexBox  a {
        display: inline-block;
        width: 100px;
        margin: auto;
    }
    #mheaderTop #flexBox a img {
        width: 100%;
    }
    
    #contents #mgnb li {
        margin-right: 12px;
    }
    #contents #mgnb li:last-of-type {
        display: none;
    }
    #contents #mgnb li a {
        font-size: 1.1em;
    }
    
    #mheader #msearch {
        float: right;
        margin-top: 10px;
    }
    
    #lnb {
        display: none;
    }
    
    #profile {
        width: 35%;
    }
    #profile #userPic {
        width: 45px;
        height: 45px;
        margin-right: 5px;
    }
    #profile #userBox {
        margin-top: 5px;
    }
    #profile #userName {
        font-size: 1.05em;
    }
    #profile #userMail {
        font-size: 0.65em;
    }
    
    #followBox .th {
        font-size: 0.95em;
    }
    #followBox a {
        font-size: 0.95em;
    }
    
    /*컨텐츠 공통영역 끝*/
}

/*여기부터 모바일버전*/
@media all and (max-width:767px) {
    #wrap {
        padding: 0;
        margin: 0;
        border-radius: 0;
    }
    
    .cen {
        width: 100%!important;
    }
    
    #contents {
        width: 100%;
        margin-right: 0;
        border-radius: 0;
        background-color: transparent;
        padding: 0;
    }
    
    #mo {
        background-image: linear-gradient(45deg, #f3e7e9 0%, #e3eeff 99%, #e3eeff 100%);
        position: fixed;
        right: 0;
        left : 0;
    }
    
    #mo #ham {
        display: none;
    }
    
    #mham {
        display: block;
    }
    
    #mheaderTop #flexBox {
        padding-left: 0;
    }
    #flexBox a img {
        display: none;
    }
    #mflexBox {
        display: block;
        padding-top: 20px;
        text-align: center;
    }
    #mflexBox a img {
        width: 30%;
    }
    
    #contents #msearch form {
        border: 1px solid #b2c3e3;
    }
    
    #mheader {
        padding: 18px;
    }
    
    #msearch input {
        background-color: transparent;
    }
    
    #contents #mgnb li:nth-of-type(4) {
        margin-right: 12px;
    }
    #contents #mgnb li:last-of-type{
        display: inline-block;
    }
    #mgnb i {
        font-size: 1.2em;
    }
    
    #profile {
        display: none;
    }
    
    footer {
        margin-top: 10px;
        margin-bottom: 15%;
    }
}











































