@charset "utf-8";

/*----------------------로그인페이지---------------------*/
body {
    background-image: linear-gradient(135deg, #f3e7e9 0%, #e3eeff 99%, #e3eeff 100%);
    height: 100vh;
    overflow: auto;
    min-height: 960px;
}

#wrap {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 790px;
    border-radius: 45px;
    box-shadow: 5px 5px 25px #c9bcd0;
    margin: auto 0;
    overflow: hidden;
}
#wrap>div {
    float: left;
    height: 100%;
}

#loginLeft {
    width: 50%;
}
#loginLeft>img {
    position: absolute;
    bottom: 0;
    left: 6%;
    width: 53%;
}

#loginRight {
    width: 50%;
    background: white;
    text-align: center;
    padding-top: 6em;
}
#loginRight>img {
    width: 15em;
    z-index: 1;
}
#loginRight form {
    margin-top: 2.5em;
}
#loginRight .loginBox {
    width: 57%;
    margin: auto;
    height: 62px;
    border-radius: 30px;
    box-shadow: 2px 3px 12px #e2e2e2;
    margin-bottom: 12px;
    line-height: 62px;
    text-align: left;
    padding-left: 2em;
}
#loginRight .fas {
    color: #898989;
    font-size: 1.4em;
    pointer-events: none;
}
#loginRight .loginBox input {
    border: none;
    font-weight: 500;
    font-size: 15px;
    display: inline-block;
    height: 80%;
    margin-left: 13px;
    width: 80%;
}
#loginRight #loginBox2 {
    padding-top: 10px;
    width: 54%;
    margin: auto;
}
#loginRight #loginBox2 input {
    float: left;
    margin-right: 5px;
    margin-top: 2px;
    cursor: pointer;
    z-index: 100;
    position: relative;
}
#loginRight #loginBox2 span {
    float: left;
    font-size: 0.9em;
}
#loginRight .purple {
    color : #7474ac;
}
#loginRight #forgotPass {
    border: none;
    background: none;
    font-size: 0.9em;
    font-family: 'Gmarket Sans', 'Nanum Gothic', sans-serif;
    float: right;
}
#loginRight #signIn {
    margin-top: 18px;
    padding: 3.1%;
}
.purBtn {
    background: #a0a0cf;
    border-radius: 30px;
    border: none;
    box-shadow: 0px 3px 5px #c9bcd0;
    width: 57%;
    font-family: 'Gmarket Sans', 'Nanum Gothic', sans-serif;
    font-size: 1em;
    font-weight: 600;
    color: white;
}

#joinBox {
    margin-top: 12%;
    color: #b7b7b7;
}
#joinBox p {
    margin-bottom: 8px;
}
#joinBox a {
    font-size: 1.05em;
    color: #7474ac;
    font-weight: 600;
}

#copy {
    color : #b7b7b7;
    font-family: 'Nanum Gothic', sans-serif;
    position: relative;
    top : 23%;
}

/*---------------------------모달------------------------*/
#modal {
    position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0,0,0,0.5);
    display: none;
}

#modalBody {
	width: 750px;
	height: 465px;
	background-color: white;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	border-radius: 35px;
    text-align: center;
    margin-top: 300px;
}

#closeBox {
    width: 100%;
    padding: 2%;
}
#closeBox #close {
    border: none;
    background: none;
    float: right;
    padding: 2% 4%;
}
#closeBox #close .fas {
    font-size: 2em;
}

#modalCont {
    clear: both;
    padding-top: 1.6%;
}
#modalCont .fa-unlock-alt {
    font-size: 3em;
    color : #a0a0cf;
    display: inline-block;
}
#modalCont>p {
    font-weight: bold;
    font-family : 'Nanum Gothic', sans-serif;
    margin-top: 2%;
    margin-bottom: 5%;
}

#find p, #find input, #find button {
    width: 50%;
    margin: auto;
    display: block;
    text-align: left;
    margin-bottom : 3px;
}
#find #msg {
    display: inline-block;
    padding-left: 10px;
    font-size: 0.95em;
    margin-bottom: 10px;
}
#find input {
    font-size: 15px;
    padding: 14px 20px;
    border: 1px solid #e7e7e7;
    border-radius: 35px;
}
#find #passBtn {
    margin-top: 12px;
    padding: 14px;
    text-align: center;
    font-family : 'Nanum Gothic', sans-serif;
    font-weight: bold;
}

#modalBody>p {
    font-size: 0.8em;
    margin-top: 20px;
}

/*-----------------------약관동의페이지------------------*/
.sky {
    background: #e5f4fc;
    min-height: 960px;
}

.sky #wrap {
    box-shadow: 5px 5px 25px #b6d2de;
    background: white;
    background-image: url(../images/back_sky.png);
    background-size: cover;
}

.sky #wrap #header {
    width: 100%;
    padding: 3%;
    height: 60px;
}

#header > a {
    color: #a8ccfd;
    font-size: 1.8em;
    float: left;
}
#header img {
    float: right;
    width: 8.5em;
}

.sky #wrap #content {
    width: 80%;
    margin: 10% auto;
    float: none;
}

.title {
    margin-bottom: 2em;
}
.title .subtitle{
    color: #b7b7b7;
    margin-top: 5px;
    margin-bottom: 32px;
}
.cont {
    line-height: 1.7em;
}

#content input[type="checkbox"] {
    display: none;
}
input[type="checkbox"] + label .chk {
    display: inline-block;
    width: 24px;
    height: 24px;
    margin: -2px 4px 0 0;
    vertical-align: middle;
    background: url(../images/checkbox.svg) left top no-repeat;
    cursor: pointer;
    background-size: cover;
}
input[type="checkbox"]:checked + label .chk {
    background:url(../images/checkbox.svg)  -26px top no-repeat;
    background-size: cover;
}

label[for='allchk'] {
    display: inline-block;
}
label[for='allchk'] h5 {
    display: inline-block;
    font-family : 'Nanum Gothic', sans-serif;
    font-weight: 700;
    font-size: 1.2em;
}

.longbar {
    border-bottom: 2px solid #eaf3fe;
    margin: 3% 0;
}

#condition > div {
    width : 42%;
}
#condition p {
    font-weight: 800;
    font-family : 'Nanum Gothic', sans-serif;
}
#condition li {
    padding: 10px 0 15px 0;
}
#condition #condiLeft {
    float: left;
}
#condition #condiRight {
    float: right;
}

.fa-chevron-right {
    color: #b0cff5;
    float: right;
    margin-right: 3%;
    cursor: pointer;
}

.skyBtn{
    clear: both;
    background: #a8ccfd;
    border: none;
    width: 260px;
    border-radius: 30px;
    height: 50px;
    color: white;
    font-size: 1.2em;
    font-weight: 700;
    margin: 6% auto;
    display: block;
}

.sky #copy {
    top : 100px;
    text-align: center;
}

/*-------------------이용약관 modal-----------------------*/
.fullModal {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 790px;
    border-radius: 45px;
    margin: auto 0;
    background: white;
    padding: 20px 40px;
    margin-top: 300px;
}
.fullModal #closeBox {
    padding: 0;
}
.fullModal #closeBox #close {
    padding: 1%;
}
.fullModal #condiTxt{
    height: 78%;
    overflow: auto;
    padding: 0 3px;
}

.fullModal #condiTxt::-webkit-scrollbar {
    width: 6px;
}
.fullModal #condiTxt::-webkit-scrollbar-track {
    background-color: transparent;
}
.fullModal #condiTxt::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background-color: #b0cff5; 
}
.fullModal #condiTxt::-webkit-scrollbar-button {
    width: 0;
    height: 0;
}

/*-----------------------회원가입 페이지-------------------*/
#joinForm {
    padding-top: 20px;
}

.joinBox {
    width: 45%;
}
.joinBox > p {
    margin-bottom: 8px;
}
.joinBox .msg{
    color : #ff5959;
    display: inline-block;
    margin-left: 10px;
    font-size: 0.9em;
}

#joinLeft {
    float: left;
}

#joinRight {
    float: right;
}
#joinRight input {
    width: 100%;
}

#joinRight select {
    border: none;
    width: 100%;
}

.joinBox .item {
    border-radius: 22.5px;
    border: 1px solid #e7e7e7;
    background: white;
    width: 360px;
    height: 45px;
    line-height: 44px;
    text-align: left;
    padding: 0 22px;
    margin-bottom: 14px;
}
.joinBox .item input {
    border: none;
    width: 78%;
}
.joinBox .double {
    float: right;
    font-size: 0.9em;
    font-weight: bold;
    font-family : 'Nanum Gothic', sans-serif;
    color: #c5d6e7;
    cursor: pointer;
}

.eye {
    width: 69px;
    margin-top: -11px;
    margin-right: -24px;
    fill: #c5d6e7;
    cursor: pointer;
    transition: all .2s ease-in-out;
    float: right;
}
.active {
    color: #6884dd!important;
    fill : #6884dd;
}

/*----------------회원가입 인증코드 모달---------------------*/
#codeModal #closeBox {
    width: 100%;
}
#codeTop, #codeBottom {
    background: #d5e5f3;
    border-radius: 45px;
    box-shadow: 2px 5px 5px #e5eefd;
    padding: 5%;
}

#codeTop {
    height: 26%;
    margin-bottom: 15px;
}
#codeTop .title {
    float: left;
    height: 100%;
    margin-top: 2%;
}
#codeTop img {
    float: right;
    width: 35%;
    margin-top: -5%;
}

#codeBottom{
    height: 59%;
    text-align: center;
}
#codeBottom p {
    font-weight: bold;
    font-family : 'Nanum Gothic', sans-serif;
    margin-bottom: 8%;
}
#codeBottom #codeMail {
    color: #2a5ac4;
    font-weight: bold;
    vertical-align: 2px;
}
#codeBottom form h2 {
    display: inline-block;
    margin-right: 15px;
}
#codeBottom form input {
    border: 1px solid #e7e7e7;
    border-radius: 40px;
    width: 476px;
    height: 80px;
    padding: 3%;
    font-size: 1.5em;
}
#codeBottom form button {
    border: none;
    border-radius: 23px;
    width : 225px;
    height: 45px;
    color: white;
    font-size: 1.05em;
    font-weight: bold;
    margin-top: 7%;
}
#codeBottom button[type='reset'] {
    background: #59698d;
    margin-right: 15px;
}
#codeBottom button[type='submit'] {
    background: #7093e0;
}

/*------------------가입 완료 후 모달---------------------*/
#pink {
	background-image: linear-gradient(135deg, #f3e7e9 0%, #e3eeff 99%, #e3eeff 100%);
}
#pink #wrap {
    background: white;
    margin-top: 0;
    padding: 0;
    overflow: hidden;
    box-shadow: 5px 5px 25px #c9bcd0;
}

#welcomTop {
    padding: 4%;
}
#myPic {
    display: inline-block;
    margin: auto;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}
#myPic #cir {
    width : 125px;
    height: 125px;
    overflow: hidden;
    border-radius: 50%;
    box-shadow: 2px 5px 5px #e5eefd;
    cursor: pointer;
}
#myPic #cir img {
    max-width: 100%;
    min-height: 100%;
}
#myPic #modiPic {
    cursor: pointer;
    position: absolute;
    bottom: 5px;
    right: 10px;
    font-size: 1.2em;
    color: #7795d8;
}

#profile #name {
    color: #7795d8;
    font-weight: 800;
    font-size: 1.1em;
    text-align: center;
    margin-top: 15px;
}
#profile #mail {
    color: #bcbcbc;
    text-align: center;
    margin-top: 3px;
    font-size: 0.95em;
}

#welcomBottom {
    background: #e7eefc;
    margin-top: -30px; 
    height: 100vh;
    padding: 40px;
}

#class p {
    width: 365px;
    text-align: left;
    margin: auto;
    padding-left: 10px;
    padding-bottom: 5px;
}
#class .item {
    width: 365px;
    height: 45px;
    border: 1px solid #e7e7e7;
    border-radius: 23px;
    background: white;
    line-height: 45px;
    margin: auto;
}
#class .item select {
    border: none;
    width: 95%;
    border-radius: 23px;
    padding: 0 20px;
}
#class .item select:focus {
    outline: none;
}
#class #txt {
    margin-bottom: 40px;
    margin-top: 12px;
    width: 100%;
    text-align: center;
    color: #868686;
}

#followBox {
    text-align: center;
}
#followBox > .miniBox {
    display: inline-block;
    cursor: pointer;
    width: 127px;
    height: 138px;
    background: white;
    box-shadow: 2px 5px 5px #dae7fc;
    border-radius: 12px;
    margin-right: 20px;
    padding: 10px;
    position: relative;
}
#followBox .smallPic {
    box-shadow: 0px 0px 10px #dae1ef;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin: auto;
    overflow: hidden;
}
#followBox .smallPic img {
    max-width: 100%;
    min-height: 100%;
}
#followBox .followName {
    color:  #7795d8;
    font-size: 0.95em;
    font-weight: 700;
    margin-top: 10px;
}
#followBox .followClass {
    font-size: 0.92em;
    color: #b7b7b7;
    margin-top: 3px;
}
#followBox span {
    display: inline-block;
    border: 2px solid #7795d8;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    position: absolute;
    bottom: -5px;
    right: -5px;
    transition: all 0.1s;
}
#followBox .follow {
    border: none;
    font-size: 1.2em;
}
#followBox span i {
    color :  #7795d8;
}
#followBox span .fa-user-check {
    display: none; 
}
#followBox .follow .fa-user-check {
    display: block; 
}
#followBox .follow .fa-plus {
    display: none;
}

#join {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 50px;
    border: none;
    width: 245px;
    height: 45px;
    background: #7795d8;
    border-radius: 23px;
    color: white;
    font-size: 1.2em;
    font-weight: 700;
}

#refreshPlay {
    	 border: none;
	    background: none;
	    font-size: 2em;
	    /* display: block; */
	    position: relative;
	    top: -88px;
	    right: -19%;
	    color: #a1c4fd;
    }

/* ----------------- join.html select --------------------- */
.itemclass li {
	cursor: pointer;
}
.itemclass li i{
	float: right;
    margin-top: 16px;
}
.itemclass li ul {
	background: white;
    border: 1px solid #e9e7fb;
    max-height: 200px;
    overflow: auto;
    display: none;
}
.itemclass li ul li {
	height: 30px;
    line-height: 30px;
}
.itemclass li ul li:hover {
	background: #f6f9fe;
}

/*------------------여기부터 태블릿pc---------------------*/
@media all and (max-width: 1020px) {
    /*----------------로그인페이지----------------------*/
    #wrap {
        height: 80%;
    }
    
    #loginRight .loginBox {
        width: 80%;
        height: 55px;
        line-height: 55px;
    }
    #loginRight .loginBox input {
        font-size: 0.8em;
        width: 70%;
    }
    #loginRight #loginBox2 {
        width: 75%;
        text-align: center;
    }
    #loginRight #loginBox2 input {
        margin-top: 1px;
        cursor: pointer;
    }
    #loginRight #loginBox2 span {
        font-size: 0.72em;
    }
    #loginRight #forgotPass {
        font-size: 0.72em;
    }
    .purBtn {
        width: 80%;
        font-size: 0.9em;
        height: 55px;
    }
    
    #joinBox a {
        font-size: 1em;
    }

    #copy {
        top : 25%;
    }

    #modalBody {
        width: 70%;
    }

    #modalCont>p {
        margin-top: 4%;
        margin-bottom: 5%;
    }

    #find p, #find input, #find button {
        width: 60%;
    }

    #modalBody>p {
        font-size: 0.85em;
    }
    
    /*------------------------약관동의---------------------*/
    #title {
        margin-bottom: 2em;
        margin-top: 7em; 
    }
    
    .sky #wrap #content {
        width: 85%;
        margin: 16% auto;
    }
    
    #condition > div {
        width : 48%;
    }
    #condition span {
        font-size: 0.75em;
    }
    input[type="checkbox"] + label .chk {
        margin: -2px 1px 0 0;
    }
    
    /*회원가입페이지*/
    .joinBox .item {
        width: 100%;
        padding: 0 20px;
    }
    .joinBox .msg{
        font-size: 0.75em;
    }
    .joinBox .item input {
        width: 75%;
    }
    
    .eye {
        margin-right: -22px;
    }
    
    .joinBox .double {
    font-size: 0.8em;
    }
    
    /*---------------------회원가입 인증코드 모달--------------*/
    #codeTop {
        position: relative;
    }
    #codeTop .title {
        margin-top: 2.7em;
    }
    #codeTop img {
        float: none;
        width: 40%;
        position: absolute;
        bottom: 0;
        right: 7%;
    }

    #codeBottom{
        height: 62%;
        padding: 10%;
    }
    #codeBottom p {
        font-size : 0.95em;
    }
    #codeBottom form h2 {
        display: block;
        margin-right: 0;
        margin-bottom: 10px;
    }
    #codeBottom form input {
        padding: 5%;
        width: 98%
    }
    #codeBottom form button {
        margin-top: 8%;
        width: 47%;
    }
    
    /*-----------------가입 완료 후 페이지----------------*/
    #welcomTop {
        padding: 6%;
    }
    #myPic #cir {
        width : 110px;
        height: 110px;
    }

    #profile #name {
        margin-top: 10px;
    }
    #profile #mail {
        color: #bcbcbc;
        text-align: center;
        margin-top: 3px;
        font-size: 0.95em;
    }

    #followBox > .miniBox {
        width: 120px;
        margin-right: 15px;
    }
}

/*--------------------여기부터 모바일버전-----------------*/
@media all and (max-width:767px) {
    body {
        overflow: auto;
    }
    #wrap {
        height: 100%;
        border-radius: 0;
        margin: 0;
    }
    #wrap>div {
        float: none;
        height: auto;
    }
    .sky {
        min-height: 1000px;
    }

    #loginLeft {
        width: 100%;
        height: 30%!important;
        position: relative;
    }
    #loginLeft>img {
        position: absolute;
        bottom: 2px;
        left: 50%;
        transform: translateX(-50%);
        width: 70%;
    }

    #loginRight {
        width: 100%;
        padding-top: 4em;
        margin-top: -3px;
        height: 680px!important;
        min-height: 680px;
        height: 60%;
    }
    #loginRight>img {
        width: 17em;
    }
    #loginRight .loginBox {
        width: 80%;
    }
    #loginRight .loginBox input {
        font-size: 15px;
        display: inline-block;
    }
    #loginRight #loginBox2 {
        width: 80%;
    }
    #loginRight #loginBox2 span {
        font-size: 0.8em;
    }
    #loginRight #forgotPass {
        font-size: 0.8em;
    }
    .purBtn {
        width: 80%;
        font-size: 1em;
    }

    #copy {
        top : 15%;
    }

    #closeBox {
        padding: 3%;
    }
    #closeBox #close {
        padding: 3% 4%;
    }

    #modalCont>p {
        margin-bottom: 8%;
    }

    #find p, #find input, #find button {
        width: 80%;
    }
    #find #msg {
        display: inline-block;
        padding-left: 5px;
        font-size: 0.8em;
    }
    
    .purBtn {
        height: 50px;
    }

    #modalBody>p {
        width: 80%;
        margin: auto;
        font-size: 1em;
        line-height: 1.5em;
        margin-top: 22px;
    }
    
    /*-------------------------약관동의------------------------*/
    .sky #wrap {
        background-image: none;
    }

    .sky #wrap #header {
        padding: 5%;
    }
    .sky #wrap #content {
        width: 88%;
    }
    
    #condition > div {
        width : 100%;
        margin: 20px 0;
    }
    #condiBtn {
        margin: 10% auto;
    }

    .sky #copy {
        top : -30px;
    }
    
    #title {
        margin-bottom: 2em;
        margin-top: 3em; 
    }
    
    #condition span {
        font-size: 0.80em;
    }

    /*------------------이용약관 modal--------------------*/
    #condiModal {
        width: 97%;
        height: 94vh;
        padding: 20px 10px
    }
    #condiModal #closeBox #close {
        padding: 2%;
    }
    #condiModal #condiTxt {
        height: 83%;
    }
    
    /*-------------------회원가입페이지----------------*/
    .over {
        overflow: auto;
    }
    .over #wrap {
    }
    .joinBox {
        float: none;
        width: 100%;
    }
    .joinBox .item {
        width: 100%;
        padding: 0 20px;
    }
    .joinBox .msg{
        font-size: 0.9em;
    }
    
    /*-------------------회원가입 인증코드 모달-----------*/
    #codeModal {
        padding: 0;
        height: 94vh;
    }
    #codeModal #closeBox {
        width: 100%;
        position: fixed;
        z-index: 100;
        padding: 5%;
    }
    #codeTop, #codeBottom {
        background: #d5e5f3;
        border-radius: 45px;
        box-shadow: 2px 5px 5px #e5eefd;
        padding: 5%;
    }
    #codeTop {
        margin-bottom: 0;
    }
    #codeTop .title {
        font-size: 0.9em;
        float: none;
        margin-top: 2.7em;
        margin-left: 2.2em;
    }
    #codeTop img {
        display: none;
    }

    #codeBottom{
        height: 74%;
        padding: 10%;
    }
    #codeBottom p {
        font-size : 1em;
    }
    #codeMail {
        display: block;
    }
    #codeBottom form input {
        padding: 10%;
        width: 99%
    }
    #codeBottom form button {
        margin-top: 4%;
        width: 99%;
    }
    #codeTop, #codeBottom {
        box-shadow: none;
    }
    
    /*--------------가입 완료 후 페이지--------------------*/
    #pink {
        min-height: none;
        overflow: auto;
    }
    #welcomTop {
        padding: 6%;
    }
    #myPic #cir {
        width : 100px;
        height: 100px;
    }

    #followBox > .miniBox {
        float: left;
        width: calc((100% - 15px) / 2);
        margin-bottom: 15px
    }
    #followBox > .miniBox:nth-of-type(even){
        margin-right: 0!important;
    }
    
    #welcomBottom {
        padding: 4%;
        margin-top: 0;
        height: 120vh;
    }

    #class p {
        padding-top: 20px;
    }
    #class #txt {
        margin-top: -5px;
    }
    
    #followBox .smallPic img {
        width: 100%;
    }
    #followBox .followName {
        color:  #7795d8;
        font-size: 0.95em;
        font-weight: 700;
        margin-top: 10px;
    }
    #followBox .followClass {
        font-size: 0.92em;
        color: #b7b7b7;
        margin-top: 3px;
    }
    #followBox span {
        display: inline-block;
        border: 2px solid #7795d8;
        width: 22px;
        height: 22px;
        border-radius: 50%;
        position: absolute;
        bottom: -5px;
        right: -5px;
    }
    #followBox span i {
        color :  #7795d8;
    }

    #join {
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        margin-top: 50px;
        border: none;
        width: 245px;
        height: 45px;
        background: #7795d8;
        border-radius: 23px;
        color: white;
        font-size: 1.2em;
        font-weight: 700;
    }
    
}


















